@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$font-primary: 'Dosis', sans-serif;
$font-heading: 'Marck Script', cursive;
$font-title: 'Montserrat', sans-serif;